<div class="jumbotron">
  <form name="cadastroForm" >
  <div class="form-group">
      <h1>Cadastrar Sapato</h1>
    </div>
    <div class="row">
      <div class="col-md-6">
      <label >Modelo</label>
      <input type="text"  class= "form-control"  ng-model="vm.sapato.modelo" maxlength="20">
    </div>
    </div>
    <div class="row ">
    <div class="col-md-6">
      <label >Nome da Proprietaria</label>
      <input type="text"  class= "form-control"  ng-model="vm.sapato.mulher" maxlength="20">
      <div ng-if = "vm.mulher.sapatos.length < 5 == false">
      <button type="submit" class="btn btn-primary" ng-click="vm.salvarSapato(vm.sapato)" >Salvar</button>
    </div>
    </div>
  </div> 
  <table class="table table-hover table-dark" class="col-4"> 
    <thead>
      <tr>
        
        <th scope="col">#</th>
        <th scope="col">Modelo</th>
        <th scope="col">Qtd de Sapatos</th>
        <th scope="col">Mulher</th>
       
      </tr>
    </thead>
    <tbody ng-repeat='sapato in vm.sapatos'>
        <tr ng-repeat='mulher in sapato.mulheres'></tr>
          <td>{{sapato.id}}</td>
          <td><b>{{sapato.modelo}}</b></td>
          <td>{{mulher.sapatos.length}}</td>
          <td>{{sapato.mulheres.nome }}</td>
          <td><button class="btn btn-danger btn-sm" ng-click="vm.excluirSapato(sapato.id)" >Excluir</button>
      </tr>
    </tbody>
  </table>        
    </div>
      <div class="modal-footer">
      <a href="#!/mulher"> <button type="text" class="btn btn-outline-secondary">Voltar</button></a>
      </div>
      </div>
    </div>           
  </div>
</form>

 